<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-todo-list-item-share-heading"
        data-cy="TodoListItemShareCreateUpdateHeading"
        jhiTranslate="todolistApp.todoListItemShare.home.createOrEditLabel"
      >
        Create or edit a Todo List Item Share
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="todolistApp.todoListItemShare.todoListItem" for="field_todoListItem"
            >Todo List Item</label
          >
          <select class="form-control" id="field_todoListItem" data-cy="todoListItem" name="todoListItem" formControlName="todoListItem">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                todoListItemOption.id === editForm.get('todoListItem')!.value?.id ? editForm.get('todoListItem')!.value : todoListItemOption
              "
              *ngFor="let todoListItemOption of todoListItemsCollection; trackBy: trackTodoListItemById"
            >
              {{ todoListItemOption.description }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="todolistApp.todoListItemShare.user" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="userOption.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : userOption"
              *ngFor="let userOption of usersSharedCollection; trackBy: trackUserById"
            >
              {{ userOption.login }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
